{% extends 'base.html.twig' %}
{% block title%} Liste d'utilisateurs{% endblock %}
{% block body %}
{{ form_start(form) }}
<div class="form-row align-items-end" ><div class="col">{{ form_row(form.username) }}</div><div class="col"><div class="form-group"><button type="submit" class="btn btn-success">Rechercher</button></div></div></div>
{{ form_end(form) }}

    {% if users %}
        <table id="users" class="table table-striped">
            <thead>
            <tr>
                <th>E-mail</th>
                <th>Nom d'utilisateur</th>
                <th>Mot de passe </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="/user/{{ user.id }}" class="btn btn-dark">Détails</a>
                        <a href="/user/edit/{{ user.id }}" class="btn btn-dark">Modifier</a>
                        <a href="/user/delete/{{ user.id }}" class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr de supprimer cet utilisateur?');">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun Utilisateurs</p>
    {% endif %}
{% endblock %}